body{
    background-image: url(img/fondo.jpg);
    background-position: center;
    background-attachment: fixed;
    background-color: cadetblue;
}

h1{
    color: aqua ; 
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.contenedor1{
    display: flex;
    flex-direction: column; 
    height: 200px;
    padding: 10px;
}
.mascota{
    display: flex;
    justify-content: space-between;
}
.mascota img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

h3{
    color: white ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4{
    color: crimson;
    font-family: cursive;
    text-align: center;
    font-size: 30px;
}

.subrayado{
    text-decoration: underline;
    font-weight: bolder;  
    color: white; 
}

.contenedor{
    display: flex;
    justify-content: center;
    margin: 5px;    
    padding: 10px;
}

.imagen{
    display: flex;
    justify-content: center;
}
.imagen img{
     border-radius: 20px;
     height: 300px;
     width: 200px;
     padding: 5px;
     cursor: pointer;
     opacity: .4;
}
.imagen img:hover {
    opacity: 1;
 
}

p{
    color: darkcyan;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

h5{
    color: white;
    font-size: large;
}

a{
    color: blueviolet;
}
