/*
font-family: 'Cinzel', serif;
font-family: 'Lobster Two', cursive;
*/

#titulo {
    color:darkgoldenrod;
    font-size: 200%;
    font-family:'Times New Roman', Times, serif;
}

footer {
    background-color: rgba(0, 0, 0, 0.834);
    color: white;
}

.hero {
    background: url(../imagen/vinoyjazz.jpg)
    no-repeat;
    background-size: cover;
    height: 0.5vh;
    min-height: 400px;
    opacity: 0.9;
    
}

.portada {
    font-family: 'Cinzel', serif;
    font-size: 60px;
    color: rgb(246, 242, 233);
    -webkit-text-stroke: 1px rgb(232, 173, 64);
}

h2 {
    color: white;
    font-family: 'Lobster Two', cursive; 
    -webkit-text-stroke: 1px black;
    font-size: 30px;

}
